body {
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 0;
    background-image: url('../images/bg4.jpg');
    background-size: cover;
}

#chat-container {
    width: 90% !important;
    height: 450px;
    background-color: rgb(237, 237, 237) !important;
    margin: 0 auto;
    padding: 3%;
    border: 1% solid #ccc;
    border-radius: 1%;
    overflow-y: scroll;
    font-size: 18px;
    opacity: 0.7;
}
#chat-messages {
    word-wrap: break-word; /* Dividir palabras largas */
}
#message-input-container {
    display: flex;
    align-items: center;
    position: relative;
}
#message-input {
    flex: 1;

    width: 90% !important;
    border-radius: none;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 3%;
    padding-right: 70px; 
    font-size: 20px;
    font-weight: bold;
    margin-top: 3%;
}

.message {
    margin-bottom: 1.5%;
}

#message-button {
    position: absolute;
    right: 10px; 
    top: 70%; 
    transform: translateY(-50%);
    background-color: white;
    border: 0px solid;
}

.indexButtons{
    background-color: #c4508a;;
    color: #f0f0f0;
    border-radius: 15px;
    border: 1px solid #363c39;
    width: 100px;
    height: 40px;
    font-size: 24px;
    opacity: 0.9;
    margin-right: 250px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 1%;;
    margin-left: -8%;
}
.indexButtons:hover {
    background-color: #b74366;
    color: #b9b9b9;
   opacity: 0.7
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#loading-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 68%;
    height: 20%;
}